<div id="nav">
  <ul class="nav_word">
    <li>
      <a class="nav_home nav_a" href="#">首頁</a>
    </li>
    <li>
      <a class="nav_a" href="#">信箱</a>
    </li>
    <li>
      <a class="nav_a" href="#">新聞</a>
    </li>
    <li>
      <a class="nav_a" href="#">股市</a>
    </li>
    <li>
      <a class="nav_a" href="#">氣象</a>
    </li>
    <li>
      <a class="nav_a" href="#">運動</a>
    </li>
    <li>
      <a class="nav_a" href="#">Yahoo TV</a>
    </li>
    <li>
      <a class="nav_a" href="#">Flickr</a>
    </li>
    <li>
      <a class="nav_a" href="#">購物中心</a>
    </li>
    <li>
      <a class="nav_a" href="#">商城</a>
    </li>
    <li>
      <a class="nav_a" href="#">拍賣</a>
    </li>
    <li class="nav_more">
      <a class="nav_a" href="#">更多</a>
      <!-- <ul>
        <li>
          <a class="nav_a" href="#">知識+</a>
        </li>
        <li>
          <a class="nav_a" href="#">汽車機車</a>
        </li>
        <li>
          <a class="nav_a" href="#">電影</a>
        </li>
        <li>
          <a class="nav_a" href="#">字典</a>
        </li>
        <li>
          <a class="nav_a" href="#">遊戲</a>
        </li>
        <li>
          <a class="nav_a" href="#">旅遊</a>
        </li>
        <li>
          <a class="nav_a" href="#">理財</a>
        </li>
        <li>
          <a class="nav_a" href="#">房地產</a>
        </li>
        <li>
          <a class="nav_a" href="#">時尚美妝</a>
        </li>
        <li>
          <a class="nav_a" href="#">3C科技</a>
        </li>
        <li>
          <a class="nav_a" href="#">折扣城</a>
        </li>
      </ul> -->
    </li>
  </ul>
</div>

<!-- <select name="" id="">
  <option value="">更多</option>
  <option value="">知識+</option>
  <option value="">汽車機車</option>
  <option value="">電影</option>
  <option value="">字典</option>
  <option value="">遊戲</option>
  <option value="">旅遊</option>
  <option value="">理財</option>
  <option value="">房地產</option>
  <option value="">時尚美妝</option>
  <option value="">3C科技</option>
  <option value="">折扣城</option>
</select> -->
